<%= render "layouts/nav" %>

<% if notice!=nil %>
<div class="column is-12 ">
    <div class="notification is-warning">
      <button class="delete"></button>
      <%= notice %>
    </div>
</div>
<% end %>
<div class="column is-12">
<div class="box">
  <article class="media">
    <div class="media-left">
      <span class="icon is-large fa-3x">
        <% if @user.level == "user"%>
          <i class="fa fa-user" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-lock" aria-hidden="true"></i>
        <% end %>
      </span>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @user.name %></strong> <small>(<%= @user.level %>)</small>
          <br>
          <%= @user.email %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
            <%= link_to users_path, class: "icon is-small" do%>
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <% end %>
            <a class="level-item" aria-label="edit">
            <%= link_to edit_user_path(@user), class: "icon is-small" do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
          </a>
        </div>
        <div class="level-right">
          
        </div>
      </nav>
    </div>
  </article>
</div>
</div>