<%= render "layouts/nav" %>

<% if notice!=nil %>
<div class="column is-12 ">
    <div class="notification is-warning">
      <button class="delete"></button>
      <%= notice %>
    </div>
</div>
<% end %>

<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="column is-12">
    <div class="box cta">
      <div class="field">
        <div class="control">
          <%= form.text_field :name, class: "input", placeholder: "Nama" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.number_field :age, class: "input", placeholder: "Umur" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
            <label>Tanggal Masuk</label>
            <%= form.date_select :checkin_date, start_year: 1945, :order => [:day, :month, :year], class:"select" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="select is-fullwidth">
            <%= select("gender","gender",options_for_select([["Laki-Laki","Laki-Laki"],["Perempuan","Perempuan"]], :selected => form.object.gender)) %> </br>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.text_field :ruangan, class: "input", placeholder: "Ruangan" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.text_field :doctor, class: "input", placeholder: "Dokter" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.text_field :medic_record_number, class: "input", placeholder: "Nomor Rekam Medik" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.text_field :bed_number, class: "input", placeholder: "Nomor Kasur" %>
        </div>
      </div>
      
      <% @questions.each do |question| %>
        <div class="field">
          <label class="label"><%= question.question%></label>
          <div class="control">
            <div class="select is-fullwidth">
              <%= select_tag "answer_id[]", options_from_collection_for_select(question.answer.collect,:id,:answer) %>
            </div>
          </div>
        </div>
      <% end %>

      <footer class="card-footer">
        <div class="card-footer-item">
          <div class="columns">
            <div class="column is-12">
              <div class="buttons is-left">
                <%= link_to transactions_path ,class: "button is-danger" do%>
                    <span class="icon"><i class="fa fa-caret-left" aria-hidden="true"></i></span><span></span>Kembali</a>
                <% end %>
                <%= form.submit :class => "button is-link"%>
              </div>
            </div>
          </div>
        </div>
       
            
      </footer>
    </div>
  </div>
<% end %>


