<nav class="navbar is-success has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://lh3.googleusercontent.com/-2MQW9HIaoe8/W5EFXzNdnmI/AAAAAAAAAAo/NwdlS41KA70OkT4Ugc3FbZPLEyJzerTAQCEwYBhgL/w140-h140-p/WhatsApp%2BImage%2B2018-07-30%2Bat%2B00.12.06.jpeg" alt="logo" />
    </a>
    <%= link_to transactions_path, class: "navbar-item" do %>
      <h3 class="title has-text-white">Dysphagia</h3>
    <% end %>
    
    <div for="menu-toggle" class="navbar-burger burger" style="color: $grey-dark">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu navbar-end">
  <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
      <div class="navbar-link is-arrowless">
        <%= current_user.name %>
      </div>
      
      <div class="navbar-dropdown">

        <% if current_user.admin? %>
          <%= link_to questions_path, class: "navbar-item" do %>
            <div>
              <span class="icon is-small">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
              <span></span>
              Pertanyaan
            </div>
          <% end %>

          <%= link_to "/grafik", class: "navbar-item" do %>
            <div>
              <span class="icon">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
              </span>
              <span></span>
              Grafik
            </div>
          <% end %>

          <%= link_to decisions_path, class: "navbar-item" do %>
            <div>
              <span class="icon is-small">
                <i class="fa fa-check-circle">  </i>
              </span>
              <span></span>
              Kesimpulan
            </div>
          <% end %>

          <%= link_to users_path, class: "navbar-item" do %>
            <div>
              <span class="icon is-small">
                <i class="fa fa-user-circle-o">  </i>
              </span>
              <span></span>
              Pengguna
            </div>
          <% end %>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-item" do %>
          <div>
            <span class="icon is-small">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </span>
            <span></span>
            Keluar
          </div>
        <% end %>
      </div>
    </div>


    <a href="#" class="navbar-item is-hidden-tablet">
      <div>
      <%= current_user.name %>
    </div>
    </a>

    <% if current_user.admin? %>
      <%= link_to questions_path, class: "navbar-item is-hidden-tablet" do %>
        <div>
          <span class="icon">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
          <span></span>
          Pertanyaan
        </div>
      <% end %>

      <%= link_to "/grafik", class: "navbar-item is-hidden-tablet" do %>
        <div>
          <span class="icon">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
          </span>
          <span></span>
          Grafik
        </div>
      <% end %>

      <%= link_to decisions_path, class: "navbar-item is-hidden-tablet" do %>
        <div>
          <span class="icon">
            <i class="fa fa-check-circle">  </i>
          </span>
          <span></span>
          Kesimpulan
        </div>
      <% end %>

      <%= link_to users_path, class: "navbar-item is-hidden-tablet" do %>
        <div>
          <span class="icon">
            <i class="fa fa-user-circle-o">  </i>
          </span>
          <span></span>
          Pengguna
        </div>
      <% end %>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete, class: "navbar-item is-hidden-tablet" do %>
      <div>
        <span class="icon">
          <i class="fa fa-sign-out" aria-hidden="true"></i>        
        </span>
        <span></span>
        Keluar
      </div>
    <% end %>

  </div>
</nav>


<script type="text/javascript">
  $(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});

  window.setTimeout(function() {
      $(".notification").fadeTo(100, 0).slideUp(100, function(){
          $(this).remove(); 
      });
  }, 4000);
</script>

